/* GERAL */
body{
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

hr{
    color:black;
    border-style: dotted none none none;
    height: 0px;
    width: 60px;
    border-width: 7px;
    margin: 50px auto 50px auto;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;

}

/* HEADINGS */

.sentence{
    font-size: 2.8rem;
    line-height: 1.5;
}
.big-heading{
    color: white;
    font-size: 3rem;    
    line-height: 1.5;
    padding-bottom: 50px;
    font-weight: bold;
}
.history{
    font-size: 3rem;
    line-height: 1.5;
}

/* INÍCIO */



.container-fluid{
    display: inline-block;
    background-color: #ff4c68;
    padding: 5% 15%;
}
.nav-link{
    font-family: 'Poppins', sans-serif;
}
.nav-item{
    padding: 0 15px 0 15px;
}
.navbar{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 2.5rem;
}
.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.group-photo{
    height: 350px;
    position: absolute;
    left: 140px;
    bottom: 0px;
}
.apple{
    color: white;
    margin: 0 0 3px 0;
    border: 0;
    height: 20px;
    width: 20px;
}
.playstore{
    color: white;
    margin: 0 0 3px 0;
    border: 0;
    height: 20px;
    width: 20px;
}

/* FEATURES */

.icon{
    height:60px;
    margin-bottom: 1rem;
}
.row{
    padding-top: 5%;
}
#features{
    padding: 7% 15%;
}

.paragraph{
    color:#8f8f8f;
}

/* TESTIMONIAL */

#testimonial{
    background-color: #e23e3e;
    color: white;
}
.carousel-item{
    padding: 7% 15%;
}
.foto-referencias{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


@media (max-width: 950px){
    .group-photo{
        position: static;
        text-align: center;
    }
    .fotodogrupo{
        height: 300px;
        text-align: center;
    }
}


/* HISTÓRIA */

#história{
    padding: 7% 15%;
}
.fotodogrupo{
    margin: 50px;
    border: 10px #e23e3e double;
    border-radius: 25%;
}
.history-text{
    color: #8f8f8f;
    line-height: 2;
}


/* nós */

.arthur{
    color: black;
    padding: 1% 15%;
}

.arthur-photo{
    height: 200px;
    border-radius: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bernardo{
    color: black;
    padding: 1% 15%;
}
.bernardo-photo{
    
    height: 200px;
    border-radius: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.caue{
    color: black;
    padding: 1% 15%;
}
.caue-photo{
    height: 200px;
    border-radius: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.enzo{
    color: black;
    padding: 1% 15%;
}
.enzo-photo{
    
    height: 200px;
    border-radius: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.felipe{
    color: black;
    padding: 1% 15%;
}
.felipe-photo{
    height: 200px;
    border-radius: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gustavo{
    color: black;
    padding: 1% 15%;
}
.gustavo-photo{
    
    height: 200px;
    border-radius: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inacio{
    color: black;
    padding: 1% 15%;
}
.inacio-photo{
    height: 200px;
    border-radius: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.smaniotto{
    color: black;
    padding: 1% 15%;
}
.smaniotto-photo{
    
    height: 200px;
    border-radius: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.marcelo{
    color: black;
    padding: 1% 15%;
}
.marcelo-photo{
    height: 200px;
    border-radius: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.urien{
    color: black;
    padding: 1% 15%;
}
.urien-photo{
    
    height: 200px;
    border-radius: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.vicenzo{
    color: black;
    padding: 1% 15%;
}
.vicenzo-photo{
    height: 200px;
    border-radius: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* RODAPÉ */

.disc{
    height: 50px;
    margin: 10px;
}
#rodapé{
    background-color: #ff4c68;
    padding: 5% 15%;
}
